In [109]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data['sex'].value_counts()#1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

Male      21790
Female    10771
Name: sex, dtype: int64

In [11]:
data[data['sex']=='Female']['age'].mean()#2. Каков средний возраст (признак age) женщин?

36.85823043357163

In [27]:
len(data[data['native-country']=="Germany"]) / len(data)#3. Какова доля граждан Германии (признак native-country)?

0.004207487485028101

In [39]:
#4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год 
#(признак salary) и тех, кто получает менее 50K в год?
print("mean of >50k a year age is {}".format(data[data['salary'] == '>50K']['age'].mean())) 
print("std of >50k a year age is {}".format(data[data['salary'] == '>50K']['age'].std()))
print("mean of <=50k a year age is {}".format(data[data['salary'] == '<=50K']['age'].mean()))
print("std of <=50k a year age is {}".format(data[data['salary'] == '<=50K']['age'].std()))

mean of >50k a year age is 44.24984058155847
std of >50k a year age is 10.519027719851826
mean of <=50k a year age is 36.78373786407767
std of <=50k a year age is 14.02008849082488

In [47]:
#6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? 
#(признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)
print("complete number of people with >50k salary is {}".format(len(data[data['salary']=='>50K']['education'])))
print ("number of people having salry >50k , but education bachelor or more have {} people"
        .format (len(data[(data['salary']=='>50K') &
                         (data['education']!='Bachelors') & (data['education']!='Prof-school') &
                         (data['education']!='Assoc-acdm') & (data['education']!='Assoc-voc')  &
                         (data['education']!='Masters') & (data['education']!='Doctorate')])))
print("No, it is false")

complete number of people with >50k salary is 7841
number of people having salry >50k , but education bachelor or more have 3306 people
No, it is false

In [56]:
#7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. 
#Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.
columns_to_show = ['age']
data.groupby(['race','sex'])[columns_to_show].describe()


#though max age of Amer-Indian-Eskimo male is 82.0 years"

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0


                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [90]:
#8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? 
#Женатыми считаем тех, у кого marital-status начинается с Married 
#(Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

martial_stat = ['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed']
married_str = [s for s in martial_stat if 'Married' in s]

married_number=0

for i in (married_str):
    married_number += len(data[(data['salary'] == '>50K') & (data['marital-status'] == i) & (data['sex'] == 'Male')])


print("difference in number of searching groups of people is {} , so there are less single males"
      .format(len(data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]) - married_number))

difference in number of searching groups of people is 697 , so there are less single males

In [101]:
# 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? 
#Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

print("number of people {}".format(data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0]))
print("percent of such people earning a lot is 29.4")
data[data['hours-per-week'] == data['hours-per-week'].max()]['salary'].value_counts(normalize=True)

number of people 85
percent of such people earning a lot is 29.4

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

In [108]:
#10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary)
#для каждой страны (native-country).

columns_to_show=['hours-per-week']
data.groupby(['native-country','salary'])[columns_to_show].mean().head()

                       hours-per-week
native-country salary
?              <=50K        40.164760
               >50K         45.547945
Cambodia       <=50K        41.416667
               >50K         40.000000
Canada         <=50K        37.914634